<!-- CM3070 FP code -->
<!-- game_panel.html - main play layout: config, board, info, command -->

{{define "game_panel"}}
<div class="game_panel">
  {{template "game_config" .}}
  <div class="game_panel_left">{{.BoardHTML}}</div>
  {{template "game_info" .}}
  {{template "game_play" .}}
</div>
<script src="/scripts/js_parts/game_app.js"></script>
<script src="/scripts/js_parts/dom_state.js"></script>
<script src="/scripts/js_parts/util.js"></script>
<script src="/scripts/js_parts/socket.js"></script>
<script src="/scripts/js_parts/clocks.js"></script>
<script src="/scripts/js_parts/board.js"></script>
<script src="/scripts/js_parts/interaction.js"></script>
<script src="/scripts/js_parts/promotion.js"></script>
<script src="/scripts/js_parts/hints_coach.js"></script>
<script src="/scripts/js_parts/game_info.js"></script>
<script src="/scripts/js_parts/move_history.js"></script>
<script src="/scripts/js_parts/setup_command.js"></script>
<script src="/scripts/js_parts/session_actions.js"></script>
<script src="/scripts/js_parts/review.js"></script>
<script src="/scripts/js_parts/simulation.js"></script>
<script src="/scripts/chess_command.js"></script>
{{end}}
