<!-- CM3070 FP code -->
<!-- game_panel.html - main play layout: config, board, info, command -->

{{define "game_panel"}}
<div class="game_panel">
  {{template "game_config" .}}
  <div class="game_panel_left">{{.BoardHTML}}</div>
  {{template "game_info" .}}
  {{template "game_play" .}}
</div>
<script src="/scripts/js_parts/00_game_app.js"></script>
<script src="/scripts/js_parts/01_dom_state.js"></script>
<script src="/scripts/js_parts/02_util.js"></script>
<script src="/scripts/js_parts/03_socket.js"></script>
<script src="/scripts/js_parts/04_clocks.js"></script>
<script src="/scripts/js_parts/05_board.js"></script>
<script src="/scripts/js_parts/06_interaction.js"></script>
<script src="/scripts/js_parts/07_hints_coach.js"></script>
<script src="/scripts/js_parts/08_game_info.js"></script>
<script src="/scripts/js_parts/12_move_history.js"></script>
<script src="/scripts/js_parts/09_setup_command.js"></script>
<script src="/scripts/js_parts/10_review.js"></script>
<script src="/scripts/js_parts/11_simulation.js"></script>
<script src="/scripts/chess_command.js"></script>
{{end}}